.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
    @media screen and (max-width: 768px) {
        width: 90%;
    }

    @media screen and (max-width: 1000px) {
        width: 75%;
    }


    .form-box {
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
    }

    .heading-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }

    .btn-container {
        margin-top: 15px;
        display: flex;
        justify-content: end;
    }
}