.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 0.5px solid lightgray;

    .left-header {
        margin-left: 20px;
    }

    .right-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .header-link {
            margin-right: 15px;
            align-items: center;
            font-weight: bold;

            &.logout {
                cursor: pointer;
            }
        }

        .user-span {
            display: flex;
            align-items: center;
        }

    }
}