.homepage-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

    .loading-container {
        display: flex;
        align-items: center;
        margin-top: 30%;
    }

    .logo-container {
        margin-top: 40px;

        .homepage-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
            align-self: center;
        }
    }
}